
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700');

// Variables
@import 'variables';
$fa-font-path:"../webfonts";
// Bootstrap
@import '~bootstrap/scss/bootstrap';

 
.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}
